body {
	background-color: #C4F6DD;
}

.jumbotron {
	text-align: center;
	background-color: #92EDF3;
	color: #7F8384;
}
span {
	color: #D1F9E5;
}

html {
  cursor: url('http://cursors2.totallyfreecursors.com/thumbnails/1pointer82.gif'), auto;
}
